
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <% include ../partial/head %>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <% include ../partial/navbar %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <% include ../partial/sidebar %>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="row">

                  <div class="col-md-12">
                    <div class="card-body">
                      <h4 class="card-title">User Detail</h4>
                      <p class="card-description">User Detail Here</p>
                      <div class="template-demo text-center">
                        <h3 class="text-primary">Name:<%= user.name %></h3>
                          <h3 class="text-primary">Email:<%= user.email %></h3>
                        <button type="button" onclick="del();" class="btn btn-danger btn-fw btn-lg">
                          <i class="mdi mdi-alert-outline" ></i>Delete</button>
                        <a href="/users/userupdate/<%=user._id%>"><button type="button" class="btn btn-info btn-fw btn-lg mt-2">

                          <i class="mdi mdi-upload"></i>Update</button></a>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <% include ../partial/footer %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
<% include ../partial/script %>
  </body<>
  <script type="text/javascript">
    function del(){
var a= confirm("Are u sure to delete!");
      if(a){
        location.href = "/users/userdelete/<%=user._id%>";
      }
    }
  </script>
</html>







<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>User Detail</h1>
    Name:<%= user.name %><p>
      Email:<%= user.email %><p>
        Password:<%= user.password %><p>
          <a href="/users/userupdate/<%=user._id%>"><button type="button" name="button">Update</button></a>
            <button type="button" name="button" onclick="del();">Delete</button>
  </body>
  <script type="text/javascript">
    function del(){
var a= confirm("Are u sure to delete!");
      if(a){
        location.href = "/users/userdelete/<%=user._id%>";
      }
    }
  </script>
</html>
